body,
* {
	font-family: "Hind", sans-serif;
	box-sizing: border-box;
}
.header-icons {
	height: 8rem;
	width: 8rem;
	margin: 0px auto;
}
.btn-gradiants {
	background-image: linear-gradient( to right, #28dd7a 0%, #185a9d 51%, #45ce43 100% );
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    font-weight: 700;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 14px;
    min-width: 110px;
}
.header-heading1 {
	font-size: 56px;
}
.btn-gradiant:hover {
	background: #016cff; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
.header-search-input {
	font-size: 12px !important;
	padding: 10px 15px;
}

.track-card.bg-light-success {
	background: #d5f9e2;
}
.track-card.bg-light-success > .track-profession {
	color: rgb(31, 192, 91);
}

.track-card.bg-light-progress {
	background: #fcefbe;
}
.track-card.bg-light-progress > .track-profession {
	color: rgb(244, 152, 31);
}
.track-card.bg-light-danger {
	background: #f4bab6;
}
.track-card.bg-light-danger > .track-profession {
	color: rgb(225, 64, 20);
}
.track-card.bg-light-default {
	background: #8080803b;
}
.track-card.bg-light-default > .track-profession {
	color: grey;
}
.secondry-heading {
	font-size: 19px;
}
.btn-to-link {
	gap: 6px;
}
.icon-btn_track img {
	display: block;
	height: 100%;
	max-height: 20px;
	max-width: 20px;
	margin: auto;
}

.animation-container {
	position: relative;
	overflow: hidden;
	/* Ensure content does not overflow */
}

.animation-content {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	transform: translateX(100%);
	transform-origin: right;
	opacity: 0;
	transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
}

.animation-content.show {
	opacity: 1;
	transform: translateX(0);
}
.fs-s {
	font-size: 14px;
}
.head-color {
	color: rgb(3, 96, 132);
}
.bg-warning {
	background: rgb(244, 152, 31) !important;
}
.text-warning {
	color: rgb(244, 152, 31) !important;
}

.form-auth {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-auth input {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	background: #dbdbdb;
	border: 0px;
}

.form-auth > button {
	display: flex;
	justify-content: center;
	border-radius: 5px;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	border: 0px;
}
.btn-copy:active {
	color: green !important;
}
#users-list-table td,
#users-list-table th {
	max-width: 230px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#users-list-table td span,
#users-list-table th span {
	/* max-width: 160px; */
	white-space: nowrap;
	overflow: hidden;
	/* text-overflow: ellipsis; */
}
.dt-length > label {
	margin-left: 15px;
}

.primary-shadow {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.remove-notification:active {
	color: black !important;
}
.navigation-buttons {
	border: none;
	outline: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: transparent;
}
.navigation-buttons:active {
	outline: none;
	color: #016cff;
}
.ff-hind {
	font-family: "Hind", sans-serif;
}
.ff-ws {
	font-family: "Work Sans", sans-serif;
}
.ff-mont {
	font-family: "Montserrat";
}

.btn-to-link * {
	font-size: 12px;
	font-family: "Montserrat" !important;
}
.fs-17 {
	font-size: 17px;
}
#iframe-signup > iframe {
	height: 100%;
	width: 1000px !important;
	border: 0px !important;
	box-shadow: none !important;
}
.navigation-buttons > i::before {
	position: relative;
	top: -7px;
}
#bottom-form > p.p-0.m-0 {
	padding-top: 10px;
}
#search-button > i::before {
	position: relative;
	top: -5px;
}
@media (max-width: 767px) {
	.btn.btn-gradiant {
		min-width: 30px;
	}
	main.px-3.pt-5 {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin: 0px;
	}
	.nav-masthead {
		margin-top: 20px;
	}
	#iframe-signup {
		width: auto;
	}
	nav.nav-masthead > span.text-secondary {
		width: 100% !important;
	}
	.header-bar > .container {
		flex-direction: column;
	}
	.header-bar > .container > nav {
		display: flex;
		justify-content: end !important;
		gap: 10px;
		width: 100%;
		align-items: center !important;
	}
	#log-btn {
		order: 1;
	}
	.nav.nav-masthead > span.text-secondary:first-child {
		width: auto;
		margin-bottom: 0px;
	}
	.header-logo > img {
		height: 60px;
	}
	#iframe-signup > iframe {
		max-width: 100% !important;
	}
	.header-heading1 {
		font-size: 35px;
	}
	p.secondry-heading {
		font-size: 13px !important;
	}
	.animation-content {
		position: static !important;
	}
	#bottom-form {
		flex-wrap: wrap;
		align-items: center;
	}
	#bottom-form .dropdown {
		width: 100%;
	}
	.cover-container {
		padding: 0px !important;
	}
	.onboarding-text-center {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
	.onboarding-rounded-circle {
		width: 100px;
		height: 100px;
	}

	.onboarding-flexcolumn {
		flex-direction: column;
	}

	.onboarding-width {
		width: 100%;
	}

	.onboarding-paddingtop {
		padding-top: 0px !important;
	}

	.onboardig-marginbottom {
		margin-bottom: 5px;
	}

	.onboarding-fs-24 {
		font-size: 24px !important;
	}

	.onboarding-fs-20 {
		font-size: 20px !important;
	}

	.onboarding-fs-14 {
		font-size: 14px !important;
	}

	.onboardin-padding-24 {
		padding-left: 24px !important;
	}

	.onboarding-text-align-left {
		text-align: left;
	}

	.onboarding-display-none::before {
		display: none;
	}

	.onboarding-padding-left-0 {
		padding-left: 0px !important;
	}

	.onboarding-display-block {
		display: block;
	}

	.onboarding-margin-top-16 {
		margin-top: 16px !important;
	}

	.onboarding-font-size-30 {
		font-size: 30px;
	}

	.onboarding-margin-top-18 {
		margin-top: 18px !important;
	}

	.onboarding-min-height-120 {
		min-height: 120px !important;
	}

	.onboarding-text-align-end {
		text-align: end;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) {
}

@media (min-width: 500px) and (max-width: 769px) {
	.onboarding-text-center {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	.onboarding-button {
		display: flex;
		justify-content: space-evenly;
	}

	.onboarding-rounded-circle {
		width: 100px;
		height: 100px;
	}

	.onboarding-flexcolumn {
		flex-direction: column;
	}

	.onboarding-width {
		width: 100%;
	}

	.onboarding-paddingtop {
		padding-top: 0px;
	}

	.onboardig-marginbottom {
		margin-bottom: 5px;
	}

	.onboarding-fs-20 {
		font-size: 20px !important;
	}

	.onboarding-fs-14 {
		font-size: 14px !important;
	}

	.onboarding-fs-24 {
		font-size: 24px !important;
	}

	.onboardin-padding-24 {
		padding-left: 24px;
	}

	.onboarding-text-align-left {
		text-align: left;
	}
}

@media (min-width: 500px) and (max-width: 999px) {
	.onboarding-rounded-circle {
		width: 100px;
		height: 100px;
	}
}
