#iframe-signup .form-wrapper-component.scroll-style.fs-mask.default-app-theme.formTheme{
    background-image:none !important;
    display:none;
    }
#forms-component{
    display:none !important;
}
